body {
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 60px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  align-items: center;
  height: 100%;
}

.header-list {
  display: flex;
  height: 100%;
}

.header-list > li {
  border-bottom: 3px solid white;
  height: 100%;
  box-sizing: border-box;
}

.header-list > li:hover {
  border-bottom: 3px solid gray;
  cursor: pointer;
}

.header-logo {
  /* background-image: image-url("header-icon-192x192.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 30px;
  width: 30px; */
  display: inline-flex;
  cursor: pointer;
}

.header a,
.header-button,
.login-signup {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 0px 20px;
  height: 100%;
  text-decoration-line: inherit;
  box-sizing: border-box;
}

.header-button,
.login-signup {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}

.header-button i {
  margin-left: 10px;
}

.header-button button {
  color: inherit;
  /* background-color: #e60023; */
  border: none;
  font-size: 14px;
  /* padding: 5px 10px; */
  margin-right: 5px;
  outline: none;
}

.navbar-username a {
  padding: 10px;
  background: #e8e8e8;
  border-radius: 50%;
  max-height: 35px;
}

button:hover {
  cursor: pointer;
}

.logo-holder {
  background-color: transparent;
  height: 48px;
  width: 48px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  transition: .1s;
}

.logo-container:hover {
  background-color: #efefef;
}

.logo {
  height: 28px;
  width: 28px;
  fill: red;
}